<section class="category-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="item">
                    <div class="title">
                        Danh sách nổi bật
                    </div>
                    <ul>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="item">
                    <div class="title">
                        Danh sách nổi bật
                    </div>
                    <ul>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="item">
                    <div class="title">
                        Danh sách nổi bật
                    </div>
                    <ul>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="item">
                    <div class="title">
                        Danh sách nổi bật
                    </div>
                    <ul>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                        <li>
                            <a href="#">Quán ăn ngon Hà Tĩnh</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info-company">
                    <div>
                        <div class="logo">
                            <img src="/assets/images/logo-ht.png" style="width: 40%;" alt="">
                        </div>
                        <div class="line">
                            Hệ thống website được quản lý bởi công ty XYZ <br> Số 02 - Ngõ 127 - Đường 26/3 - Phường
                            Văn Yên - Thành phố Hà Tĩnh
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="link-block">
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-6 d-none-mb">
                            <ul>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Chính sách bảo mật</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="end-block">
    <div class="container">
        © 2020 Hà Tĩnh Có Gì là thương hiệu của XYZ
    </div>
</section>
<script src="/assets/libs/js/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>
<script src="/assets/libs/js/swiper.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js" integrity="sha512-ksSfTk6JIdsze75yZ8c+yDVLu09SNefa9IicxEE+HZvWo9kLPY1vrRlmucEMHQReWmEdKqusQWaDMpkTb3M2ug==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" integrity="sha512-lB03MbtC3LxImQ+BKnZIyvVHTQ8SSmQ15AhVh5U/+CCp4wKtZMvgLGXbZIjIBBbnKsmk3/6n2vcF8a9CtVVSfA==" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
<script src="/assets/js/slide.js"></script>
<script src="/assets/js/effect.js"></script>
{{#app}}
<script src="/assets/js/{{app}}.js"></script>
{{/app}}
<script>
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
function changeAfterLoginGG(){
    $('#normalLogin').hide()
    $('#loginBtn+div>span')[0].childNodes[2].nodeValue = localStorage.name
    $('#loginBtn+div>span')[1].childNodes[0].nodeValue = localStorage.name

    $('.gg-button')[0].childNodes[1].nodeValue = "Thoát Google"
    document.getElementsByClassName('gg-button')[0].onclick = signOutGG
    //hide button facebook
    $('.fb-button').hide()
    $('button.hide').addClass('show').removeClass('hide')
}
function changeAfterLogin(){
    $('#normalLogin').hide()
    $('#loginBtn+div>span')[0].childNodes[2].nodeValue = localStorage.name
    $('#loginBtn+div>span')[1].childNodes[0].nodeValue = localStorage.name

    $('.fb-button')[0].childNodes[1].nodeValue = "Thoát Facebook"
    //hide button gg
    $('.gg-button').hide()
    $('button.hide').addClass('show').removeClass('hide')
}
function changeAfterLogout(){
    $('#normalLogin').show()
    $('#loginBtn+div>span')[0].childNodes[2].nodeValue = 'Đăng nhập'
    $('#loginBtn+div>span')[1].childNodes[0].nodeValue = 'Đăng nhập'

    $('.fb-button')[0].childNodes[1].nodeValue = "Facebook"

    $('.gg-button').show()

    delete localStorage.id 
    delete localStorage.name
    delete localStorage.email
    delete localStorage.avatar
    delete localStorage.type 
    delete localStorage.access_token

    $('button.show').addClass('hide').removeClass('show')
}
function changeAfterLogoutGG(){
    $('#normalLogin').show()
    $('#loginBtn+div>span')[0].childNodes[2].nodeValue = 'Đăng nhập'
    $('#loginBtn+div>span')[1].childNodes[0].nodeValue = 'Đăng nhập'

    $('.gg-button')[0].childNodes[1].nodeValue = "Google"
    attachSignin(document.getElementsByClassName('gg-button')[0]);

    $('.fb-button').show()

    delete localStorage.id 
    delete localStorage.name
    delete localStorage.email
    delete localStorage.avatar
    delete localStorage.type 
    delete localStorage.access_token

    $('button.show').addClass('hide').removeClass('show')
}
function fetchUserDetail(){
    FB.api('/me', {fields:["id","name","picture","email"]}, function(res) {
        //console.log(res);
        if(res)    {
            localStorage.id = res.id
            localStorage.name = res.name
            localStorage.email = res.email
            localStorage.avatar = res.picture && res.picture.data && res.picture.data.url ?
                res.picture.data.url:''
            localStorage.type = 'fb'
            changeAfterLogin()    
        }
    });
}
function statusChangeCallback(response){
    console.log(response)
    if(response.status=='connected'){        
        $.ajax({
            url: '/auth/facebook?access_token='+response.authResponse.accessToken,
            type: 'POST',
            dataType: 'JSON',
            success: function(data){
                if(data.error){
                    
                }
            },
            error:function(){
                
            }
        })
        localStorage.access_token = response.authResponse.accessToken
        if(localStorage.id){
            changeAfterLogin()    
        }else
            fetchUserDetail()
    }
}
function checkFacebookLogin() 
{
    FB.getLoginStatus(function(response) { //console.log('response:',response)
        if (response.status === 'connected') {
            //fetchUserDetail();
            FB.logout(function(response) {                
                console.log(response) //{authResponse: null, status: "unknown"}
                //FB.Auth.setAuthResponse(null, 'unknown');
                $.ajax({
                    url: '/auth/logout'
                })
                changeAfterLogout()
            })
        } 
        else 
        {
            initiateFBLogin();
        }
    });
}

function initiateFBLogin()
{
    FB.login(function(response) {
        //fetchUserDetail();
        statusChangeCallback(response)
    }, {scope: 'public_profile,email'});
}

startApp();
</script>
<div class="toast info hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
      <strong class="mr-auto">Thông báo</strong>
      <small class="text-muted">Vừa mới đây</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="toast-body">
      See? Just like this.
    </div>
  </div>
  <div class="toast danger hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#ff0000"></rect></svg>
      <strong class="mr-auto">Cảnh báo</strong>
      <small class="text-muted">Vừa mới đây</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="toast-body">
      See? Just like this.
    </div>
  </div>  
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-text">?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Không</button>
                <button type="button" class="btn btn-primary">Có</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>