{{> header}}
<section class="banner-store">
</section>
<section class="head-store">
    <div class="container">
        <div class="box">
            <div class="image">
                <img src="/assets/images/nha-hang-the-gioi-bia.png" alt="">
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                </ul>
            </div>
            <div class="search-box">
                <div class="input">
                    <input type="text" class="no-focus" placeholder="Tìm kiếm">
                </div>
                <button type="button" class="search-all">Toàn trang</button>
                <button type="button" class="search-per-store">Cửa hàng</button>
            </div>
        </div>
    </div>
</section>
<section class="main-store">
    <div class="title-store">
        <div class="container">
            <div class="d-flex">
                <div class="left-col"></div>
                <div class="center-col">
                    <h1>Nhà Hàng Thanh Dũng</h1>
                    <div class="desc">
                        Nhà hàng hiện tại đã có dịch vụ ship hàng, các bạn cần có thể liên hệ hoặc đặt ship ở trang
                        ni nha.
                    </div>
                </div>
                <div class="right-col"></div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="main-box">
            <div class="left-col">
                <div class="card">
                    <div class="head">
                        <i class="far fa-soup"></i>Thông tin nhà hàng
                    </div>
                    <div class="body">
                        <div class="badge-store">
                            <img src="/assets/images/badge-1.png" class="badge-image" alt="">
                            <div class="point"></div>
                            <div class="name">Uy tín đồng 3</div>
                        </div>

                        <div class="owner">
                            Chủ cửa hàng: <span>chưa xác nhận</span>
                        </div>
                        <div class="online-now">
                            <i class="far fa-fire"></i> Đang online
                        </div>
                        <div class="ship-count">
                            <img src="/assets/images/Artboard 2.svg" alt="">
                            <div class="num">
                                132
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-col">
                <div class="card">
                    <div class="head">
                        <i class="far fa-soup"></i>Thực đơn nhà hàng
                    </div>
                </div>
                <div class="list-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/images/garan.png" alt="">
                                </div>
                                <div class="name">
                                    Gà rán
                                </div>
                                <div class="price">
                                    45.000đ
                                </div>
                                <div class="action">
                                    Đặt ship tận nơi
                                    <input type="number" min="0" value="1" class="no-focus">
                                    <button type="button" class="no-focus" >-</button>
                                    <button type="button" class="no-focus">+</button>
                                </div>
                                <div class="liner"></div>
                                <div class="info">
                                    <div class="view">
                                        <i class="fas fa-eye"></i> 120k
                                    </div>
                                    <div class="comment">
                                        <i class="far fa-comment"></i>2k
                                    </div>
                                    <div class="ship">
                                        <img src="/assets/images/icon-ship.svg" alt="">
                                        200
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/images/garan.png" alt="">
                                </div>
                                <div class="name">
                                    Gà rán
                                </div>
                                <div class="price">
                                    45.000đ
                                </div>
                                <div class="action">
                                    Đặt ship tận nơi
                                    <input type="number" min="0" value="1" class="no-focus">
                                    <button type="button" class="no-focus" >-</button>
                                    <button type="button" class="no-focus">+</button>
                                </div>
                                <div class="liner"></div>
                                <div class="info">
                                    <div class="view">
                                        <i class="fas fa-eye"></i> 120k
                                    </div>
                                    <div class="comment">
                                        <i class="far fa-comment"></i>2k
                                    </div>
                                    <div class="ship">
                                        <img src="/assets/images/icon-ship.svg" alt="">
                                        200
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/images/garan.png" alt="">
                                </div>
                                <div class="name">
                                    Gà rán
                                </div>
                                <div class="price">
                                    45.000đ
                                </div>
                                <div class="action">
                                    Đặt ship tận nơi
                                    <input type="number" min="0" value="1" class="no-focus">
                                    <button type="button" class="no-focus" >-</button>
                                    <button type="button" class="no-focus">+</button>
                                </div>
                                <div class="liner"></div>
                                <div class="info">
                                    <div class="view">
                                        <i class="fas fa-eye"></i> 120k
                                    </div>
                                    <div class="comment">
                                        <i class="far fa-comment"></i>2k
                                    </div>
                                    <div class="ship">
                                        <img src="/assets/images/icon-ship.svg" alt="">
                                        200
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/images/garan.png" alt="">
                                </div>
                                <div class="name">
                                    Gà rán
                                </div>
                                <div class="price">
                                    45.000đ
                                </div>
                                <div class="action">
                                    Đặt ship tận nơi
                                    <input type="number" min="0" value="1" class="no-focus">
                                    <button type="button" class="no-focus" >-</button>
                                    <button type="button" class="no-focus">+</button>
                                </div>
                                <div class="liner"></div>
                                <div class="info">
                                    <div class="view">
                                        <i class="fas fa-eye"></i> 120k
                                    </div>
                                    <div class="comment">
                                        <i class="far fa-comment"></i>2k
                                    </div>
                                    <div class="ship">
                                        <img src="/assets/images/icon-ship.svg" alt="">
                                        200
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/images/garan.png" alt="">
                                </div>
                                <div class="name">
                                    Gà rán
                                </div>
                                <div class="price">
                                    45.000đ
                                </div>
                                <div class="action">
                                    Đặt ship tận nơi
                                    <input type="number" min="0" value="1" class="no-focus">
                                    <button type="button" class="no-focus" >-</button>
                                    <button type="button" class="no-focus">+</button>
                                </div>
                                <div class="liner"></div>
                                <div class="info">
                                    <div class="view">
                                        <i class="fas fa-eye"></i> 120k
                                    </div>
                                    <div class="comment">
                                        <i class="far fa-comment"></i>2k
                                    </div>
                                    <div class="ship">
                                        <img src="/assets/images/icon-ship.svg" alt="">
                                        200
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <div class="image">
                                    <img src="/assets/images/garan.png" alt="">
                                </div>
                                <div class="name">
                                    Gà rán
                                </div>
                                <div class="price">
                                    45.000đ
                                </div>
                                <div class="action">
                                    Đặt ship tận nơi
                                    <input type="number" min="0" value="1" class="no-focus">
                                    <button type="button" class="no-focus" >-</button>
                                    <button type="button" class="no-focus">+</button>
                                </div>
                                <div class="liner"></div>
                                <div class="info">
                                    <div class="view">
                                        <i class="fas fa-eye"></i> 120k
                                    </div>
                                    <div class="comment">
                                        <i class="far fa-comment"></i>2k
                                    </div>
                                    <div class="ship">
                                        <img src="/assets/images/icon-ship.svg" alt="">
                                        200
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-col">
                <div class="card">
                    <div class="head">
                        <i class="far fa-soup"></i>Sự kiện khuyến mãi
                    </div>
                    <div class="body" style="height: 20rem;">

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{{> footer}}